@import ../../../../styles/variables
  
.button
  background: 0
  border: 0
  border-radius: .25rem
  cursor: pointer
  transition: .25s
  font-weight: 700
  padding: .5rem

.button:hover
  border: 0
  background: 0
  cursor: pointer
  transition: .5s
  text-decoration: none
  background: $blue
  color: white